.usermanagement{
    width: 95vw;
    height: 88vh;
    overflow: scroll;
    scroll-padding: 0;
    scrollbar-width: none;
    -ms-overflow-style: scrollbar;
    margin: 50px 0px;
    color: #B0BCD0;
    font-family: THICCCBOI;
    padding-bottom: 100px;

}
.dashboard_users{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
}
.dashboard_users_users{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 40px;
}
.dashboard_users_users_title{
    font-size: 16px;
}
.dashboard_users_users_users{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    font-size: 14px;
}
.dashboard_users_users_users_user{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}
.dashboard_users_users_users_user_id,.dashboard_users_users_users_user_input,.dashboard_users_users_users_user_update{
    margin-right: 10px;
}

.dashboard_users_users_users_user input {
    padding: 10px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #313245;
    color: #B0BCD0;
    font-family: THICCCBOI;
    font-weight: bold;
    width: 185px;
}
.dashboard_users_users_users_user_update{
    padding: 10px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #2B2C45;
    color: #B0BCD0;
    font-family: THICCCBOI;
    font-weight: bold;

    cursor: pointer;
}
.dashboard_users_users_users_user_delete{
    padding: 10px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #660000;
    color: #B0BCD0;
    font-family: THICCCBOI;
    font-weight: bold;

    cursor: pointer;
}
.dashboard_users_users_users_title input{
    background: transparent;
    text-align: center;
}
.dashboard_users_users_users_title .dashboard_users_users_users_user_update{
    background: transparent;
    text-align: center;
}
.dashboard_users_users_add{
    font-size: 28px;
    font-weight: 900;
    height: 40px;
    width: 40px;
    background-color: #313245;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 3px;
    cursor: pointer;
}